{{#each words as |word|}}
  <section data-id="{{word.id}}" data-word="{{word.word}}">
    <h4>
      {{word.word}}
    </h4>
    <br>
    <form id="update-delete">
      <fieldset>
        <a href="#" class="update-link" data-id="{{word.id}}" data-word="{{word.word}}" data-toggle="modal" data-target="#update-modal">edit</a>
        &nbsp; • &nbsp;
        <a href="#" class="delete-button" data-id="{{word.id}}">delete</a>
      </fieldset>
    </form>
    <hr>
</section>

{{/each}}
